<div class="container mx-auto px-5 py-5">
  <div class="flex flex-col">
    <div class="flex w-full items-center justify-between">
      <div class="flex gap-5">
        <img
          class="icon_light"
          src="assets/img/arrow_drop_down.svg"
          alt="dropdown"
        />
        <div class="flex items-center gap-3">
          <img
            class="icon_light"
            src="assets/img/workspaces.svg"
            alt="workspaces"
          />
          <h2 class="text-xl text-text_light">Channels</h2>
        </div>
      </div>

      <img class="icon_blue" src="assets/img/add.svg" alt="add" />
    </div>

    <div class="flex flex-col gap-3 p-[50px] text-lg text-text_gray">
      <div *ngFor="let channel of channels" class="flex gap-3">
        <img
          class="icon_light_gray"
          src="assets/img/tag.svg"
          alt="tag"
        /><span>{{ channel.name }}</span>
      </div>
    </div>

    <div class="mb-[50px] flex gap-3 px-[50px]">
      <img class="icon_blue" src="assets/img/add_circle.svg" alt="add" />
      <h3 class="text-lg text-blue1">Channel hinzufügen</h3>
    </div>
  </div>

  <div class="flex w-full items-center">
    <div class="flex gap-5">
      <img
        class="icon_light"
        src="assets/img/arrow_drop_down.svg"
        alt="dropdown"
      />
      <div class="flex items-center gap-3">
        <img
          class="icon_light"
          src="assets/img/account_circle.svg"
          alt="workspaces"
        />
        <h2 class="text-xl text-text_light">Direktnachrichten</h2>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-3 p-[50px] text-lg text-text_gray">
    <div *ngFor="let chat of chats" class="flex items-center gap-3">
      <img
        class="h-12 rounded-full"
        src="assets/img/Property 1=Elias Neumann.svg"
        alt="profile"
      />
      <span>{{chat.name}}</span>
    </div>
  </div>
</div>
